body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #7e878f;
    color: rgb(0, 0, 0);
    padding: 20px;
    background-image: url(../imagenes/odoo17.jpg);
    background-position: center;
    background-size: 500px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
    background: #7e878f;
    padding: 10px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}

nav ul li a:hover {
    background: #7e878f;
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.administración{
    text-align: center;
}
.informes{
    text-align: center;
}
.seguridad{
    text-align: center;
}
.instalación{
    text-align: center;
}
img{
    width: 350px
}
.imagen {
    transition: transform 0.5s ease-in-out;
}

.imagen:hover {
    transform: scale(1.3);
}


footer {
    background: #7e878f;
    color: white;
    padding: 10px;
    margin-top: 20px;
}
